pipeline/LoadClaimData_V3.json
{
	"name": "LoadClaimData_V3",
	"properties": {
		"description": "read data from Excel files and load into sql table",
		"activities": [
			{
				"name": "GetMetadata_readFileNames",
				"description": "read child folder name in folder TPAClaims",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "LoadClaimData_Dset",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetMetadata_readFileNames",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMetadata_readFileNames').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GetMetadata2",
							"description": "go through each folder and read file names",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DelimitedText4",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"FileDate": {
											"value": "@split(item().Name, ' ')[2]",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"childItems"
								],
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						}
					]
				}
			},
			{
				"name": "ForEach2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMetadata2').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "JohnEastern",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"additionalColumns": [
										{
											"name": "ItemName",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Field",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Field",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Coverholder Name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Coverholder Name",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "TPA Name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "TPA Name",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Agreement No",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Agreement No",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Unique Market Reference (UMR) / Policy Number",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Unique Market Reference (UMR) / Policy Number",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Binder Contract Inception",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Binder Contract Inception",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Binder Contract Expiry",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Binder Contract Expiry",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Reporting Period (End Date)",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Reporting Period (End Date)",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Class of Business: Section No, Risk code or description",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Class of Business: Section No, Risk code or description",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Class of Business",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Class of Business",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Lloyd's Risk Code",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Lloyd's Risk Code",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Section No",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Section No",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Original Currency",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Original Currency",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Settlement Currency",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Settlement Currency",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Rate of Exchange",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Rate of Exchange",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Certificate Reference",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Certificate Reference",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Claim Reference / Number",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Claim Reference / Number",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Insured Full Name or Company Name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Insured Full Name or Company Name",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Insured State, Province, Territory, Canton etc.",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Insured State, Province, Territory, Canton etc.",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Insured Country",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Insured Country",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Location of risk State, Province, Territory, Canton",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Location of risk State, Province, Territory, Canton",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Location of risk Country",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Location of risk Country",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Risk Inception Date",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Risk Inception Date",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Risk Expiry Date",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Risk Expiry Date",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Period of Cover - Narrative",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Period of Cover - Narrative",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Location of loss State, Province, Territory, Canton ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Location of loss State, Province, Territory, Canton ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Location of loss Country",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Location of loss Country",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Cause of Loss Code",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Cause of Loss Code",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Loss Description",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Loss Description",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Date of Loss (From)",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Date of Loss (From)",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Date of Loss to",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Date of Loss to",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Date Claim First Advised/Date Claim Made",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Date Claim First Advised/Date Claim Made",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Claim Status",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Claim Status",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Refer to Underwriters",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Refer to Underwriters",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Denial",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Denial",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Claimant Name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Claimant Name",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Loss County",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Loss County",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "State of Filing",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "State of Filing",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "PCS Code",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "PCS Code",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Medicare United States Bodily Injury",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Medicare United States Bodily Injury",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Medicare Eligibility Check Performance",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Medicare Eligibility Check Performance",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Medicare Outcome of Eligibility Status Check",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Medicare Outcome of Eligibility Status Check",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Medicare Conditional Payments",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Medicare Conditional Payments",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Medicare MSP Compliance Services",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Medicare MSP Compliance Services",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Paid this month - Indemnity",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Paid this month - Indemnity",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Paid this month - Fees",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Paid this month - Fees",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Previously Paid - Indemnity",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Previously Paid - Indemnity",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Previously Paid - Fees",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Previously Paid - Fees",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Reserve - Indemnity",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Reserve - Indemnity",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Reserve - Fees",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Reserve - Fees",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Change this month - Indemnity",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Change this month - Indemnity",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Change this month - Fees",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Change this month - Fees",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Total Incurred - Indemnity",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Total Incurred - Indemnity",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Total Incurred - Fees",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Total Incurred - Fees",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Coverholder PIN",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Coverholder PIN",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Reporting Period Start Date",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Reporting Period Start Date",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Type of Insurance (Direct, or Type of RI)",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Type of Insurance (Direct, or Type of RI)",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Policy or Group Ref",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Policy or Group Ref",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Insured Address ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Insured Address ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Insured Postcode / Zip Code or similar",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Insured Postcode / Zip Code or similar",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Location of Risk Location ID",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Location of Risk Location ID",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Location of Risk Address",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Location of Risk Address",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Location of Risk Postcode / Zip Code or similar",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Location of Risk Postcode / Zip Code or similar",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Deductible Amount",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Deductible Amount",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Deductible Basis",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Deductible Basis",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Sums Insured Amount",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Sums Insured Amount",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Location of loss Address",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Location of loss Address",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Location of loss Postcode / Zip Code or similar",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Location of loss Postcode / Zip Code or similar",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Date Closed",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Date Closed",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Lloyd's Cat Code",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Lloyd's Cat Code",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Catastrophe Name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Catastrophe Name",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Paid this month - Expenses",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Paid this month - Expenses",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Paid this month - Attorney Coverage Fees",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Paid this month - Attorney Coverage Fees",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Paid this month - Adjusters Fees",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Paid this month - Adjusters Fees",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Paid this month - Defence Fees",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Paid this month - Defence Fees",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Paid this month - TPA Fees",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Paid this month - TPA Fees",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Previously Paid - Expenses",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Previously Paid - Expenses",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Previously Paid - Attorney Coverage Fees",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Previously Paid - Attorney Coverage Fees",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Previously Paid - Adjusters Fees",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Previously Paid - Adjusters Fees",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Previously Paid - Defence Fees",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Previously Paid - Defence Fees",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Previously Paid - TPA Fees",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Previously Paid - TPA Fees",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Reserve - Expenses",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Reserve - Expenses",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Reserve - Attorney Coverage Fees",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Reserve - Attorney Coverage Fees",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Reserve - Adjusters Fees",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Reserve - Adjusters Fees",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Reserve - Defence Fees",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Reserve - Defence Fees",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Reserve - TPA Fees",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Reserve - TPA Fees",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Total Incurred",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Total Incurred",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Name or Reg No of Aircraft Vehicle, Vessel etc. ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Name or Reg No of Aircraft Vehicle, Vessel etc. ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "% Ceded (Reinsurance)",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "% Ceded (Reinsurance)",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Plan",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Plan",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Patient Name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Patient Name",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Treatment Type",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Treatment Type",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Country of Treatment",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Country of Treatment",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Date of Treatment",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Date of Treatment",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Expert - Role",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Expert - Role",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Expert Firm / Company Name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Expert Firm / Company Name",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Expert Reference No etc.",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Expert Reference No etc.",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Expert Address",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Expert Address",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Expert State, Province, Territory, Canton etc.",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Expert State, Province, Territory, Canton etc.",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Expert Postcode / Zip Code or similar",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Expert Postcode / Zip Code or similar",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Expert Country",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Expert Country",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Notes",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Notes",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Date Claim Opened",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Date Claim Opened",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Ex gratia payment",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Ex gratia payment",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Claim First Notification Acknowledgement Date",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Claim First Notification Acknowledgement Date",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Date First Reserve Established",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Date First Reserve Established",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Diary date",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Diary date",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Peer review date",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Peer review date",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "ItemName",
												"type": "String"
											},
											"sink": {
												"name": "ItemName",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "FileDateVariable",
												"type": "String"
											},
											"sink": {
												"name": "FileDateVariable",
												"type": "String",
												"physicalType": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "dsExcelOnPrem",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": {
											"value": "@activity('GetMetadata_readFileNames').output.childItems",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_SqlServerLoadClaimData",
									"type": "DatasetReference",
									"parameters": {
										"tablename": "JohnEastern"
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"myvar": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-08-22T02:37:50Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}