pipeline/LoadClaimData_V4.json
{
	"name": "LoadClaimData_V4",
	"properties": {
		"description": "read data from Excel files and load into sql table",
		"activities": [
			{
				"name": "GetMetadata_readFileNames",
				"description": "read child folder name in folder TPAClaims",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "LoadClaimData_Dset",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetMetadata_readFileNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMetadata_readFileNames').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Switch1",
							"type": "Switch",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@variables('foldername')",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "JohnEastern",
										"activities": [
											{
												"name": "JohnEastern",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "ExcelSource",
														"additionalColumns": [
															{
																"name": "FileDate",
																"value": {
																	"value": "@variables('FileDate')",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "FileServerReadSettings",
															"recursive": true,
															"wildcardFileName": "*.xlsx",
															"enablePartitionDiscovery": false
														}
													},
													"sink": {
														"type": "SqlServerSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false,
														"tableOption": "autoCreate"
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "dsExcelOnPrem",
														"type": "DatasetReference",
														"parameters": {
															"FolderName": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_SqlServerLoadClaimData",
														"type": "DatasetReference",
														"parameters": {
															"tablename": {
																"value": "@variables('foldername')",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									}
								]
							}
						},
						{
							"name": "JohnEastern_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"additionalColumns": [
										{
											"name": "FolderName",
											"value": {
												"value": "item().name",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": true,
										"wildcardFileName": "*.xlsx",
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "dsExcelOnPrem",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"sheetname": "Report"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_SqlServerLoadClaimData",
									"type": "DatasetReference",
									"parameters": {
										"tablename": "JohnEastern"
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"FileDate": {
				"type": "String"
			},
			"DatePart": {
				"type": "String"
			},
			"DataPartArray": {
				"type": "Array"
			},
			"foldername": {
				"type": "String"
			}
		},
		"annotations": []
	}
}