pipeline/LoadClaimData_V5.json
{
	"name": "LoadClaimData_V5",
	"properties": {
		"description": "read data from Excel files and load into sql table",
		"activities": [
			{
				"name": "GetMetadata_readFileNames",
				"description": "read child folder name in folder TPAClaims",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "LoadClaimData_Dset",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetMetadata_readFileNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMetadata_readFileNames').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "GetMetadata2",
							"description": "go through each folder and read file names",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DelimitedText4",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"FileDate": {
											"value": "@split(item().Name, ' ')[2]",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"childItems"
								],
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "Set variable1",
							"description": "substring only date from folder name and store it to a variable",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "GetMetadata2",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "FileDate",
								"value": {
									"value": "@substring(\n    item().name\n    , add(lastIndexOf(item().name, ' '), 1)\n    , sub(length(item().name), add(lastIndexOf(item().name, ' '),1)))\n  ",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Switch",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@replace(\n    substring(item().name, 0, lastIndexOf(item().name, ' '))\n    , ' ', '')",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "JohnEastern",
										"activities": [
											{
												"name": "JohnEastern",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "ExcelSource",
														"additionalColumns": [
															{
																"name": "ItemName",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "FileDateVariable",
																"value": {
																	"value": "@replace(variables('FileDate'),'.', '/' )\n",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "FileServerReadSettings",
															"recursive": true,
															"wildcardFileName": "*.xlsx",
															"enablePartitionDiscovery": false
														}
													},
													"sink": {
														"type": "SqlServerSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false,
														"tableOption": "autoCreate"
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "dsExcelOnPrem",
														"type": "DatasetReference",
														"parameters": {
															"FolderName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"sheetname": "Report"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_SqlServerLoadClaimData",
														"type": "DatasetReference",
														"parameters": {
															"tablename": "JohnEastern"
														}
													}
												]
											}
										]
									},
									{
										"value": "OlegTPA",
										"activities": [
											{
												"name": "OlegTPA",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "ExcelSource",
														"additionalColumns": [
															{
																"name": "ItemName",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "FileDateVariable",
																"value": {
																	"value": "@replace(variables('FileDate'),'.', '/' )\n",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "FileServerReadSettings",
															"recursive": true,
															"wildcardFileName": "*.xlsx",
															"enablePartitionDiscovery": false
														}
													},
													"sink": {
														"type": "SqlServerSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false,
														"tableOption": "autoCreate"
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "dsExcelOnPrem",
														"type": "DatasetReference",
														"parameters": {
															"FolderName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"sheetname": "Sheet1"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_SqlServerLoadClaimData",
														"type": "DatasetReference",
														"parameters": {
															"tablename": "OlegTPA"
														}
													}
												]
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"FileDate": {
				"type": "String"
			},
			"DatePart": {
				"type": "String"
			},
			"DataPartArray": {
				"type": "Array"
			},
			"foldername": {
				"type": "String"
			}
		},
		"annotations": []
	}
}