pipeline/NBIS_LoadMTDPremium.json
{
	"name": "NBIS_LoadMTDPremium",
	"properties": {
		"description": "Load data from excel to sql",
		"activities": [
			{
				"name": "fromExcelToSql",
				"description": "copy data from excel file located in blob to sql database",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "dateValue",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"additionalColumns": [
							{
								"name": "loadDate",
								"value": {
									"value": "@activity('dateValue').output.firstRow.Prop_0",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": "MTD Premiums *.xlsx",
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "MTDPremium",
						"type": "DatasetReference",
						"parameters": {
							"cellRange": "A6:F10",
							"firstRowAsHeader": true
						}
					}
				],
				"outputs": [
					{
						"referenceName": "nbismtd",
						"type": "DatasetReference",
						"parameters": {
							"tablename": "tblNBIS_MTDPremium"
						}
					}
				]
			},
			{
				"name": "dateValue",
				"description": "capture cell with date value to add it as a new column",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": "MTD Premiums *.xlsx",
							"enablePartitionDiscovery": false
						}
					},
					"dataset": {
						"referenceName": "MTDPremium",
						"type": "DatasetReference",
						"parameters": {
							"cellRange": "A3:A3",
							"firstRowAsHeader": false
						}
					},
					"firstRowOnly": true
				}
			}
		],
		"annotations": []
	}
}